<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\User $user
 */
?>

<div class="container">
    <div class="row">
        <div class="box box-default box-top-sm">
            <div class="box-body">
                <nav class="large-3 medium-4 columns" id="actions-sidebar">
                    <ul class="side-nav">
                        <li class="heading"><?= __('Actions') ?></li>
                        <li><?= $this->Html->link(__('Edit User'), ['action' => 'edit', $user->id]) ?> </li>
                        <li><?= $this->Form->postLink(__('Delete User'), ['action' => 'delete', $user->id], ['confirm' => __('Are you sure you want to delete # {0}?', $user->id)]) ?> </li>
                        <li><?= $this->Html->link(__('List Users'), ['action' => 'index']) ?> </li>
                        <li><?= $this->Html->link(__('New User'), ['action' => 'add']) ?> </li>
                    </ul>
                </nav>
                <div class="users view large-9 medium-8 columns content">
                    <h3><?= h($user->id) ?></h3>
                    <table class="vertical-table">
                        <tr>
                            <th scope="row"><?= __('Firstname') ?></th>
                            <td><?= h($user->firstname) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Lastname') ?></th>
                            <td><?= h($user->lastname) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Email') ?></th>
                            <td><?= h($user->email) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Password') ?></th>
                            <td><?= h($user->password) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Confirmpassword') ?></th>
                            <td><?= h($user->confirmpassword) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Status') ?></th>
                            <td><?= h($user->status) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Id') ?></th>
                            <td><?= $this->Number->format($user->id) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Modified') ?></th>
                            <td><?= h($user->modified) ?></td>
                        </tr>
                        <tr>
                            <th scope="row"><?= __('Created') ?></th>
                            <td><?= h($user->created) ?></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
