 
	<?php if($is_like==0){
		echo '<li><a href="'.$this->Url->build(['controller'=>'Likes','action'=>'likeed', $post_id]).'"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like ('.$liked.')</a></li>';
		//fa fa-thumbs-up
		}else if($is_like>0){
		echo '<li><a href="'.$this->Url->build(['controller'=>'Likes','action'=>'likeed', $post_id]).'"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like ('.$liked.')</a></li>';
	}
?>

