
    <div class="col-md-3 static nopad-right">
      <div class="suggestions is_stuck" id="sticky-sidebar1">
        <div class="verticalCarousel">
                <h4 class="grey recommend-txt"><?php echo $this->Html->image('online.svg',['class'=>'icon-rtfix img-responsive img-circle direct-recommend']); ?>  <?= ($this->request->session()->read('Auth.User.role_id')==3?'Live Models':'Live Members')?>                     <a href="#" class="vc_goDown"><i class="fa fa-fw fa-angle-down"></i></a>
                      <a href="#" class="vc_goUp"><i class="fa fa-fw fa-angle-up"></i></a>
                </h4>
                   <?= $this->Form->create(null,['url'=>['controller'=>'users','action'=>'searchmodel'],'class'=>['navbar-form','navb-frm-cust']]) ?>
                    <!-- <form class="navbar-form navb-frm-cust" role="search"> -->
                      <div class="input-group add-on inpug-cust">
                       <!--  <input class="form-control form-controlcust" placeholder="Search" name="search_keyword" id="srch-term" type="text"> -->
                          <?= $this->Form->control('search_keyword',['required'=>'required','class'=>'form-control form-controlcust','placeholder'=>'Search','id'=>'srch-term','label'=>false])?>
                        <div class="input-group-btn input-group-btncust">
                          <?php //echo  $this->Form->button(__('Save'),['class'=>'btn btn-default btn-s-cust']); ?>
                          <button class="btn btn-default btn-s-cust" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                   <!--  </form> -->
                     <?= $this->Form->end() ?>
                    <ul class="verticalCarouselGroup vc_list">
                        <?php if(count($liveusers)>0 AND $liveusers->count()>0){?>
                          
                          <?php foreach ($liveusers as $key => $value) {
                             if($value['is_live']=="Online"){
                                echo '<li>';
                             echo '<a href="'.$this->request->webroot.$value['username'].'">'.$this->Html->image('profile/'.$value['user_medias'][0]['face_pics'],['class'=>'profile-photo-sm2 img-responsive pull-left']).'<span class="online-small"></span>'.'</a>';
                            echo '<div class="trecomnduser1"></div>
                          </li>';
                             } //end if
                        }?>
                          
                        <?php }
                          else{ ?>
                          <li> Live model are not avaialble</li>
                        <?php  } ?>
                    </ul>
          </div>
      </div>
    </div>
            