<?php
/**
 * @var \App\View\AppView $this
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Cms'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="cms form large-9 medium-8 columns content">
    <?= $this->Form->create($cm) ?>
    <fieldset>
        <legend><?= __('Add Cm') ?></legend>
        <?php
            echo $this->Form->control('name');
            echo $this->Form->control('content');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
