
body{font-family: 'Open Sans', sans-serif;background-color: #e1e1e1;
  background-image:radial-gradient(#f2f2f2,#e1e1e1);}
.brandons-wrapper{
  background:url(../../img/bg_img.png), url(../../img/bg_img2.png);;
  background-repeat:no-repeat;
  min-height:100%;
  background-size:41%,41%;background-position: 101% -2px,-6% 100%;padding-top:40px;padding-bottom:40px;}
.brandons-outerbox{width:32%;background:#fff;margin:0px auto;padding:20px 20px 2px 20px;border-radius:4px;border: 0px solid #fff;}
.brandons-outerbox1{width:58%;background:#fff;margin:0px auto;padding:20px 20px 0px 20px;border-radius:4px;border: 10px solid #404040;}
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
}
.model-litabs{width:100% !important;}
.model-litabs a {
  font-size: 24px !important;
  font-weight: 600;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
  background-color: #ebccd1;
  border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
  color: #a94442;
  background-color: #fff;
  border-color: #ebccd1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}

.brandons-outerbox{
background: rgba(137,135,135,1);
background: -moz-linear-gradient(top, rgba(142,29,33,1) 0%, rgba(203,30,34,1) 41%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,29,33,1)), color-stop(41%, rgba(203,30,34,1)));
background: -webkit-linear-gradient(top, rgba(142,29,33,1) 0%, rgba(203,30,34,1) 41%);
background: -o-linear-gradient(top, rgba(142,29,33,1) 0%, rgba(203,30,34,1) 41%);
background: -ms-linear-gradient(top, rgba(142,29,33,1) 0%, rgba(203,30,34,1) 41%);
background: linear-gradient(to bottom, rgba(142,29,33,1) 0%, rgba(203,30,34,1) 41%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e1d21', endColorstr='#cb1e22', GradientType=0 );
}
.brandons-outerbox1{
background: rgba(137,135,135,1);
background: -moz-linear-gradient(top, rgba(137,135,135,1) 0%, rgba(240,57,57,1) 41%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(137,135,135,1)), color-stop(41%, rgba(240,57,57,1)));
background: -webkit-linear-gradient(top, rgba(137,135,135,1) 0%, rgba(240,57,57,1) 41%);
background: -o-linear-gradient(top, rgba(137,135,135,1) 0%, rgba(240,57,57,1) 41%);
background: -ms-linear-gradient(top, rgba(137,135,135,1) 0%, rgba(240,57,57,1) 41%);
background: linear-gradient(to bottom, rgba(137,135,135,1) 0%, rgba(240,57,57,1) 41%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898787', endColorstr='#f03939', GradientType=0 );
}
.panel-heading-cust{background:transparent;padding: 10px 0px 0px 0px;}
.panel-cust{background:transparent;}
.form-controlinput-cust {
  background: transparent;
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 0px 1px 0px;
  box-shadow: 0px 0px 0px #fff;
  border-radius: 0px;
  z-index:0 !important;
  padding-left:42px;
}
.error-message {
    color: red;
}
.input-group-cust{width:100%;}
.padt0 {
    padding-top: 12px;
}
i.fa.fa-lock.fa-lg.fa-lock-cust {
    font-size: 25px;
    margin-top: -3px;
}
.input-gp-btncust{background: transparent;
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px #fff;
  border-radius: 0px;color:#999797;position: absolute;
    top: 6px;}
  .bc-tabs > li > a {
  position: relative;
  display: block;
  padding: 10px 20px;
  border-radius:0px;
  margin-right:0px;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
}
.bc-tabs{border-bottom:0px solid #fff;}
.panel-body-cust {
  background: #fff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  margin-top: 0px;
  padding-top: 32px;
}
.bc-tabs > li {
  width: 50%;
  text-align: center;
}
.form-controlinput-cust:focus {
  border-color: #ccc;
  outline: 1;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}
.imgban-cust{border: 4px solid #404040;border-radius: 4px;width:100%;}
.nbs-flexisel-item img{height: 200px;}
.bc-tabs > li.active{border-style:solid;border-color:#404040;border-width:0px 0px 0px 0px;}
.bc-tabs > li> a:active{border-style:solid;border-color:#404040;border-width:8px 8px 0px 8px;}
.bc-tabs > li> a:hover{color:#333;border:0px solid #d41d23; padding:10px 20px 10px;background:transparent;}
.padt0{padding-top:0px;}
.input-birthdate .input.date{float:left;display:inline;width:100%}
.ptop-11{padding-top:11px;}
.input-birthdate .datebirth{width:33% !important;}
.input-birthdate {
  border-bottom: 1px solid #ccc;
  padding: 1px 0px;
}
.bordernone{border-bottom:0px solid #fff;}
.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 0px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}
.btn-login {
    width: 100%;
    background: #d51e23; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
   font-size: 17px;
}
.btn-login:active {
    width: 100%;
    background: #cc1c21; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
   font-size: 17px;
}
.btn-login:hover {
    width: 100%;
    background: #cc1c21; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
   font-size: 17px;
}
.btn-login:focus {
    width: 100%;
    background: #cc1c21; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
   font-size: 17px;
}
.btn-login1 {
    width: 100%;
    background: #d51e23; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
	 font-size: 17px;
}
.btn-login1:hover {
    width: 100%;
    background: #c81318; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
   font-size: 17px;
}
.btn-login1:focus {
    width: 100%;
    background: #c81318; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
   font-size: 17px;
}
.btn-login1:active {
    width: 100%;
    background: #c81318; /* For browsers that do not support gradients */
    color:#fff;
    border:1px  solid #7b7b7b;
    padding: 9px 8px;
    margin-top:10px;
    font-weight: 600;
   font-size: 17px;
}
.input-birthdate .bootstrap-select.btn-group .dropdown-menu{z-index:99;background:#fff;}
.btn-login-model {
  width: 100%;
  background: #333;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 8px 0px;
  margin-top: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  word-spacing: 8px;
  font-size: 20px;
  letter-spacing: 2px;
  height: 57px;
  border-radius:0px;
}
.btn-login-model:hover {
  width: 100%;
  background: #333;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 8px 0px;
  margin-top: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  word-spacing: 8px;
  font-size: 20px;
  letter-spacing: 2px;
  height: 57px;
}
.btn-login-model:focus {
  width: 100%;
  background: #333;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 8px 0px;
  margin-top: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  word-spacing: 8px;
  font-size: 20px;
  letter-spacing: 2px;
  height: 57px;
}
.btn-login-model:active {
  width: 100%;
  background: #333;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 8px 0px;
  margin-top: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  word-spacing: 8px;
  font-size: 20px;
  letter-spacing: 2px;
  height: 57px;
}
h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

h6.background-line{
  border-bottom:1px solid #cdcdcd;margin-top:8px;}

h6.background-line span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    top: 8px;
    font-size: 16px;
}
.g-recaptcha > div {
    margin: 0px auto;
}
.input-group.btm-mr-md{margin-bottom:47px;}
.mr-btm-30{margin-bottom:30px;}
@media all and (max-width: 767px) {
  .brandons-outerbox{width:60%;}
  .brandons-wrapper {
  background: url(../images/bg_img.png), url(../images/bg_img2.png);
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: 18%;
  background-position: 94% 0%,5% 102%;
  padding-top: 40px;}
}

@media all and (max-width: 600px) {
  .imgban-cust{width:100%;}
  .brandons-outerbox{width:98%;}
  .brandons-outerbox1{width:98%;}
	.rc-anchor-normal {
		height: 74px;
		width: 69% !important;
	}
	.btn-login-model{font-size:14px;padding:12px 8px;}
	.btn-login-model:hover{font-size:14px;padding:12px 8px;}
	.g-recaptcha iframe{width:200px !important;}
	.g-recaptcha > div {width:200px !important;}
}


/*-start flexisel thumbnail carosal-*/
.carousel-control {
  padding-top:10%;
  width:5%;
}
.well-cust{margin-top:20px;box-shadow:2px 2px 4px #888;}
/*-end flexisel thumbnail carosal-*/

.modeltop-text {
  margin-top: 0px;
  font-weight: 600;
  font-size: 19px;
}
.error-msgtext{margin-bottom:0px;}
.alert-outerdiv{width: 50%;
margin: 0px auto;}


.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}


.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
    border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.well-cust .nbs-flexisel-inner{border:0px solid #fff !important;background:transparent;}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
    margin-left:1px;
}
.nbs-flexisel-item img {
    max-width: 90%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);   
    background: rgba(0,0,0,0.5);
    color: #fff;     
}

.nbs-flexisel-nav-left {
    left: 0px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}

.overlay-box {
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 10px 8px;
	position: absolute;
	bottom: 10px;
	margin: 10px 0px 2px;
	min-height: 60px;
	width:90%;
}
.text-center.model-subhead-text {
	margin-top: 22px;
}
.text-center.model-head-text {
	font-size:17px;
	font-weight:600;
	margin-top:6px;
}
.forgot-text-style {
	margin-top: 5px;
	position: relative;
	top: 2px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.form-controlinput-cust:focus{-webkit-box-shadow: 0 0 0 0px transparent inset !important;}
.ban-out-tbox{position:relative;}
.imgbc-logo {
	position: absolute;
	margin: 0px auto;
	left: 6%;
	right: auto;
	top: 66px;
	text-align: center;
	width: 88%;
}

span.input-group-addon.input-gp-btncust{z-index:9;}
input:-webkit-autofill{background:transparent !important;}
.bootstrap-select > .dropdown-toggle {padding-left: 28px !important;}



@media (max-width: 992px) {
  .brandons-outerbox{width:40%;}
}
@media (max-width: 800px) {
  .brandons-outerbox{width:60%;}
}

@media (max-width: 600px) {
  .brandons-outerbox{width:80%;}
}

@media (max-width: 340px) {
  .brandons-outerbox{width:98%;}
}


