body, html {
   height:100%;
   overflow-x: hidden;
   font-family: 'Open Sans', sans-serif;background-color: #e1e1e1;
}

.btn {
	border-radius: 0

  
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0;
  border-radius: 0
}



.btn-larger {
	padding: 15px 40px !important;
	border:2px solid #bdbdbd !important;;
	border-radius: 0px !important;;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	background-color: transparent;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
  

}
.btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
	border-color: #F7CA18;
	color: #fff !important;
	background-color: none;
  	border-radius: 0
}
.btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
	background-image: none;
}
.btn-larger.disabled, .btn-larger[disabled], fieldset[disabled] .btn-larger, .btn-larger.disabled:hover, .btn-larger[disabled]:hover, fieldset[disabled] .btn-larger:hover, .btn-larger.disabled:focus, .btn-larger[disabled]:focus, fieldset[disabled] .btn-larger:focus, .btn-larger.disabled:active, .btn-larger[disabled]:active, fieldset[disabled] .btn-larger:active, .btn-larger.disabled.active, .btn-larger[disabled].active, fieldset[disabled] .btn-larger.active {
	border-color: #AEA8D3;
	background-color: #AEA8D3;
}
.btn-larger .badge {
	color: #AEA8D3;
	background-color: #fff;
}

div#form {
	color: #fff;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  min-height:100%;

}

#userform p {
	font-size: 14px;
	margin-bottom: 5px;
}
#userform ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0px;
}
#userform {
	background: rgba(0,0,0,0.8);
	margin: 20px 0 20px 0
}
 @media (min-width: 768px) {
#userform {
	background: rgba(0,0,0,0.6);
	margin: 12px 0 40px 0;
	box-shadow: 1px 1px 8px #171717;
}
}
#userform .nav-tabs.nav-justified > li > a {
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	background-color: rgba(90,90,90,0.5);
}
#userform .nav-tabs.nav-justified > .active > a, #userform .nav-tabs.nav-justified > .active > a:hover, #userform .nav-tabs.nav-justified > .active > a:focus {
	border: 0;
	background: #ce2430;
	color: white;
	border-radius: 0;
}
#userform .nav-justified > li > a {
	margin-bottom: 0;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
#userform .nav-justified > li > a:hover {
	background: #ce2430;
	color: #FFF;
}
#userform .nav-tabs > li > a {
	border: 0px solid transparent;
	border-radius: 0
}
#userform .nav-tabs.nav-justified > li > a:hover {
	background: #ce2430;
	color: #FFF;
	border-radius: 0;
	border: 0;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
#userform .nav-tabs > li.active > a, #userform .nav-tabs > li.active > a:hover, #userform .nav-tabs > li.active > a:focus {
	color: #ce2430;
	cursor: default;
	background-color: transparent;
	border: 0;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
 @media (min-width: 768px) {
#userform .nav-tabs.nav-justified > li > a {
	border: 0;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
#userform .nav-tabs.nav-justified > li > a:hover {
	background-color: #c10e1b;
	border-color: transparent;
	border: 0;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
}
 @media (max-width: 768px) {
.nav-justified > li {
	display: table-cell !important;
	width: 1% !important;
}
}
#userform .nav-tabs {
	border-bottom: 0px solid #ddd;
}
#userform .tab-pane h2 {
	margin: 10px 0;
	color: #FFF;
}
#userform .tab-pane p.lead {
	margin-top: 20px;
}
#userform .tab-content {
	padding: 20px
}
#userform .form-group {
	margin-bottom: 0px;
	color: #FFF;
}
#userform .form-group input, #userform .form-group textarea {
	padding: 10px;
}
#userform .form-group input.form-control {
	height: auto;
	background-color: rgba(237, 235, 250, 0.1);
	color: #FFF;
}
#userform .form-control {
	border-radius: 0;
	border: 1px solid #fff;
}
#userform .form-control:focus {
	border-color: #ce2430;
	box-shadow: none;
}
 #userform::-webkit-input-placeholder {
 text-transform: uppercase;
font-family: 'Dosis', sans-serif;
font-weight: 700;
 color: #bbb;
}
#userform #signup .form-group label {
	position: relative;
	-webkit-transform: translateY(35px);
	-ms-transform: translateY(35px);
	transform: translateY(35px);
	left: 10px;
	top: 0px;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 12px;
	font-weight: 300
}
#userform #signup .form-group label .req {
	margin: 2px;
	color: #d11b26;
}
#userform #signup .form-group label.active {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	left: 2px;
	font-size: 12px;
}
#userform #signup .form-group label.active .req {
	opacity: 0;
}
#userform label.highlight {
	color: #ffffff;
}
#userform #login .form-group label {
	position: relative;
	-webkit-transform: translateY(35px);
	-ms-transform: translateY(35px);
	transform: translateY(35px);
	left: 10px;
	top: 0px;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 12px;
	font-weight: 300
}
#userform #login .form-group label .req {
	margin: 2px;
	color: #d11b26;
}
#userform #login .form-group label.active {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	left: 2px;
	font-size: 12px;
}
#userform #login .form-group label.active .req {
	opacity: 0;
}

.mrgn-30-top {
	margin-top: 30px
}

.img-banner-top{border-bottom:4px solid #b3b3b3;}
div#OR {
    height: 40px;
    width: 40px;
    border: 1px solid #7B7B7B;
    border-radius: 50%;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    z-index: 1;
    background: #7B7B7B;
    margin:0px auto 0px;
    position:relative;
    top:-22px;	
    color:#fff;	
}
.or-outer-div{border-top: 1px dotted #f4f4f4;
    margin-top: 45px;}
.error-message{
color:#a94442;}
.loginerror-message .alert {
    padding-bottom: 6px;
    margin-top: 9px;
    margin-bottom: 0px !important;
}
.g-recaptcha{margin-top:30px;}
.mrgn-10-top{margin-top:10px;}
.g-recaptcha > div {
    margin: 0px auto;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.content{background:#f1f1f1;padding:20px;}


.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-widget {
	border: none;
	position: relative;
	padding: 20px 20px 34px 20px;
	border:1px solid #ccc;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.m-top20{margin-top:20px;}
.m-top40{margin-top:22px;}
.img-responsive.img-model-user {
	width: 33%;
	padding:20px 0px; 
}
.username {
	font-size: 21px;
	font-weight: 400;
}
.text-muted.text-muted-cust {
	display: inline-block;
	margin-top: 15px;
	float: left;
	margin-right: 22px;
	color: #fff;
	margin-left: 15px;
}
.btn.btn-danger.btn-logout {
	color: #fff;
	padding: 9px 12px;
	border-radius: 3px;
}
.btn.btn-danger.btn-logout:hover {
	color: #fff;
	padding: 9px 12px;
	border-radius: 3px;
	background:#c9302c;
}
.btn.btn-danger.btn-logout:active {
	color: #fff;
	padding: 9px 12px;
	border-radius: 3px;
	margin-top: 5px;
	background:#c9302c;
}
.btn.btn-danger.btn-logout:focus {
	color: #fff;
	padding: 9px 12px;
	border-radius: 3px;
	background:#c9302c;
}

/*-start menu style-*/
	.menu {
	    background: #231F20;
	    border: none;
	    border-radius: 0;
	    margin-bottom: 0;
	}
	.img-responsive.user-imag {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 2px;
}
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
.dropdown-menu-cust{width: 280px;
padding: 0 0 0 0;
margin: 0;right:5px !important;}
.dropdown-menu-cust1{width: 242px;
padding: 0 0 0 0;
margin: 0;right:5px !important;}

.dropdown-menu-cust .header{
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
background-color: #ffffff;
padding: 7px 10px;
border-bottom: 1px solid #f4f4f4;
color: #444444;
font-size: 14px;}
.msg-img-style{margin: auto 10px auto auto;
width: 40px;
height: 40px;}
.footer-msgli{
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
font-size: 12px;
background-color: #fff;
padding: 7px 10px;
border-bottom: 1px solid #eeeeee;
color: #444 !important;
text-align: center;}
.msg-h4{
padding: 0;
margin: 0 0 0 45px;
color: #444444;
font-size: 15px;
position: relative;}
.msgpara{
margin: 0 0 0 45px;
font-size: 12px;
color: #888888;}
.menu.menu-cust {
	padding: 4px 6px 9px 6px;
	list-style-type: none;
	background: #f4f4f4;
}
.toggle-cmn {
	padding: 12px 8px 9px !important;
	margin: 0px 6px;
	line-height: 53px !important;
}
.fa-head-cust{color:#fff;}
.fa-head-cust:hover{color:#f4f4f4;}
.toggle-cmn{}
.navbar-default-cust .navbar-nav > .open > a, .navbar-default-cust .navbar-nav > .open > a:focus, .navbar-default-cust .navbar-nav > .open > a:hover {
	color: #555;
	background-color: #d9534f !important;
}
.user-header{height: 175px;
padding: 10px;
text-align: center;}
.logouttext{color:#fff;}
.user-subimag {
	z-index: 5;
	height: 90px;
	width: 90px;
	border: 3px solid;
	border-color: #ccc;
	border-radius:50%;
	margin:0px auto;
}
.btm-space{padding-bottom:10px;}
.user-ft-cust{padding:10px;margin-top:-42px;}
.img-responsive.user-imag.user-img-space {
	margin-top: 10px;
}
.btn.btn-default.btn-profile {
	padding: 10px 13px;
	border-radius: 3px;
}
 /*-end menu style-*/
.content-wrapper{padding-top:50px;}
.ptm0{padding-bottom:0px;}
.btm0{margin-bottom:0px;}
.timeline-cover{position:relative;}
.profie-info{
position: absolute;
text-align: center;
padding: 0 20px;
bottom: -40px;
z-index: 999;width:100%;}
.img-cover-user{width:100%;}
.cover-pic-box{overflow:hidden;max-height:350px;border:1px solid #ccc;margin-bottom:98px;}
.profile-photo{    
	height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #3e3c3c;
}
.top-m{margin-top:60px;}
img.profile-photo-md {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    float: left;
    margin-top:14px !important;
}
.create-post .form-group .form-control {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    float: right;
	width: 84%;
}
textarea.form-control {
    height: auto;
}
.create-post .form-group {
    margin-bottom: 0;
}
.create-post .tools ul.publishing-tools li a {
	color: #6d6e71;
	font-size: 18px;
}
.create-post .form-group img.profile-photo-md {
    margin-right: 10px;
}
.create-post .tools {
    padding: 8px 0px 10px;
}
.create-post .tools ul.publishing-tools {
	display: inline-block;
	text-align: left;
	margin: 0;
	padding: 5px 0;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
.create-post{margin-top:59px;}
.nopad-left{padding-left:0px !important;}
.btn.btn-danger.btn-publish {
	border-radius: 4px !important;
	background: #d9534f;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 15px;
	height: 35px;
}
.btn.btn-danger.btn-publish1 {
	border-radius: 4px !important;
	background: #d9534f;
	margin-top: 0px;
	margin-left: 10px;
	line-height: 15px;
	height: 35px;
	position: absolute;
	bottom: 0px;
}
ul.nav-news-feed li {
	list-style: none;
	display: block;
	padding: 15px 0;
	border-bottom:1px solid #f4f4f4;
}
ul.nav-news-feed {
	padding-left: 20px;
	padding-right: 20px;
	margin: 56px 0 40px 0;
}

ul.nav-news-feed li a {
	color: #6d6e71;
}
.leftcmn-icon{width:45px;display:inline-block;}
.badge-cmn {
	color: #fff !important;
}

ul.nav-news-feed {
	padding-left: 20px;
	padding-right: 20px;
	margin: 58px 0 40px 0;
	background: #fff;
	border: 1px solid #ccc;
}


/*--start media query section--*/


/*--end media query section--*/
.icon-wfix{display:inline-block;width:45px;}
.post-icon{color:#8dc63f;}
.about-icon{color:#662d91;}
.follower-icon{color:#ee2a7b;}
.dash-icon{color:#f7941e;}
.block-head .username1{font-size:20px;}
#sticky-sidebar {
	background: transparent;
	padding: 17px 17px 17px 0px;
	margin-top: 49px;
	border: 0px solid #ccc;
}
#sticky-sidebar1 {
	background: transparent;
	padding: 17px 0px 17px 38px;
	margin-top: 49px;
	border: 0px solid #ccc;
}
img.profile-photo-sm {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 16px;
	border: 6px solid #e9ebee;
	margin-top: -5px;
	position: absolute;
	top: -25px;
	left: 33%;
	z-index:9;
}
img.profile-photo-sm2 {
	height: 60px;
	width: 60px;
	border-radius:50%;
	border: 1px solid #ccc;
	margin-top: 2px;
}
.grey{margin: 0px 0px 28px 0px;
text-align: left;}
.follow-user{border-bottom:1px solid #f4f4f4;padding-bottom:20px;}

 .follow-user1{color:#fff;float: left;position:relative !important;
width: 100%;padding:12px 12px 22px;position:relative;box-shadow:2px 2px 3px #d8d8d8;margin-bottom:20px;  background: #efcccb;
  background: linear-gradient(-225deg, #ab0606, #9b7d7d, #c2354e);	
  background: -webkit-linear-gradient(-225deg, #ab0606, #9b7d7d, #c2354e);	
  background: -o-linear-gradient(-225deg, #ab0606, #9b7d7d, #c2354e);	
  background: -moz-linear-gradient(-225deg, #ab0606, #9b7d7d, #c2354e);margin-top:40px;}

.imgban-bg {
	position: absolute;
	height: 130px;
	overflow: hidden;
	filter: blur(18px);
	width: 80%;
	margin: 0px auto;
	left: 10%;
	right: auto;
}

   .follow-user2{padding:12px;box-shadow:2px 2px 3px #d8d8d8;margin-bottom:20px;  background: #efcccb;
  background: -webkit-linear-gradient(-90deg, #efcccb, #fcfcfc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #efcccb, #fcfcfc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #efcccb, #fcfcfc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #efcccb, #fcfcfc); /* Standard syntax */}
.right-panel-head {
	margin: 6px 0px 3px;
}

.attheratetxt {
	display: inline-block;
	margin-top: 45px;
}
/*-post content-*/
#post_header {
  border-bottom: solid #E8E8E8 0px;
  margin-top: 38px;
}
#post_header li {
  display: inline-block;
}
#post_header a {
  font-size: 14px;
  padding: 1rem 0;
  text-decoration: none;
}
#post_header li+li {
  border-left: solid #E8E8E8 1px;
}
#post_header li:first-child a {
  padding: 0 1rem 0 0;
}
#post_header li:nth-child(2) a {
  padding: 0 1rem;
}
#post_header li:last-child a {
  padding: 0 0 0 1rem;
}
#post_header .glyphicon {
  margin-right: 0.5rem;
}
#post_content img {
  border: solid #DDD 1px;
  margin: 1.25rem 0;
  padding: 0;
}
#post_content .textarea_wrap {
  cursor: text;
}
#post_content textarea {
  border: 0;
  margin: 0rem 0 0.5rem 0;
  outline: 0;
  padding: 6px 0px 0px 8px;
  resize: none;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 0px #fff;
  border-radius: 0px;
}

#post_footer {
  border-top: solid #E8E8E8 1px;
  line-height: 3rem;
  padding: 0 2% 0 3%;
}
#post_footer .navbar-nav {
  padding: 0;
}
#post_footer .navbar-nav li {
  display: inline-block;
}
#post_footer .navbar-nav a {
  display: block;
  padding: 2rem 1.25rem 2.2rem 1.25rem;
}
#post_footer .navbar-nav .glyphicon {
  line-height: 0;
}
#post_footer :not(.btn) .glyphicon {
  color: #999;
}
#post_footer div {
  padding: 0;
  text-align: right;
}
#post_footer .btn {
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-top: 0.75rem;
  padding: 0 0.75rem;
  vertical-align: middle;
}
#post_footer .btn-default {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .btn-default .glyphicon {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .caret {
  color: #666;
  margin-left: 0.5rem;
}
#post_footer .btn-primary {
  background-color: #4e69a2;
  padding: 0 2rem;
}

.tab-content-cust{padding:20px;}
.tab-pane-cmn{margin-top:36px;}
/*-end post content-*/
.nopad-both{padding:0px;}
#my_file {
    display: none;
}
#get_file {
    background: transparent;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
#my_file1 {
    display: none;
}
.dropdown-toggle.toggle-cmn:hover{background:#d9534f  !important;height: 70px;}
.dropdown-toggle.toggle-cmn:active{background:#d9534f  !important;height: 70px;}
.dropdown-toggle.toggle-cmn:focus{background:#d9534f  !important;height: 70px;}
#get_file1 {
    background: transparent;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.form-control.textarea-cust {
	width: 72%;
	float: right;
}
.form-control.textarea-cust1 {
	width: 82%;
	float: right;
}
.post-mbox{background:#fff;box-shadow:2px 2px 4px #cdcdcd;padding: 10px 0px 14px;border:1px solid #ccc;}
.navbar-brand-cust{color:#fff !important;padding-left:21px;}
.box-gray {
	background: rgba(0,0,0,0.6);
	padding: 5px;
	color:#fff;
	margin-top:-16px;
}
.ban-headtext {
	margin-top: 9px;
	font-size: 32px;
}
.btm0.ban-para {
	font-size: 17px;
	padding-bottom: 4px;
}
.f-text {
	display: inline-block;
	color: #fff;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	margin-top: 14px;
	border-radius: 20px;
	font-weight: 600;
}

/*--Post Content Style --*/
.list-unstyled li{float:left;margin-right:50px;padding-bottom:15px;}
.list-unstyled {
	padding-left: 0;
	list-style: none;
	float: left;
	margin-bottom:0px;
}
.l-c-s{border-bottom: 1px solid #ccc;
float: left;
width: 100%;padding-top:15px;}
/*--End Post Content Style --*/
.post-content .post-comment {
	display: inline-flex;
	margin: 10px auto;
	width: 100%;
}
.post-comment{margin-top:30px !important;}
.input-form-cmn{
height: 30px;
border: 1px solid #ccc;
margin: 7px 0;
min-width: 0;}
.profile-photo-comm{
height: 40px;
width: 40px;
border-radius: 50%;}
.profile-photo-comm1{
height: 40px;
width: 40px;
border-radius: 50%;margin-top: 13px;border:1px solid #ccc;}
.form-cust{width:100%;}
.input-gp-addcust{background:transparent;border-width:1px 1px 1px 0px;border-color:#ccc;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);cursor:pointer;}
.input-form-cmn1{height:auto;border-width:1px 1px 1px 1px !important;border: 1px solid #ccc;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.inpg-cust .input{float:left;width:88%;}
.inpg-cust{display:block;}
.pc-right1{width:100%;position:relative;}
.c-icon1 {
	padding-right: 9px;
	font-size: 16px;
}
.c-icon2 {
	font-size: 16px;
}
.post-details {
	position: relative;
	display: inline-block;
	margin-top: 16px;
}
.box-body-custom{padding:4px 20px;}
.mtop30 {
	margin-top: 30px;
}
.post-headcmntxt {
	font-size: 16px;
	font-weight: 600;
}
.input-form-cmn1:focus {
	border-color: #ccc !important;
	outline: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6) !important;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6) !important;
}
.btn.btn-box-tool {
	background: transparent;
	position: relative;
}
.right .direct-chat-text:after, .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}
.direct-chat-danger .right>.direct-chat-text:after, .direct-chat-danger .right>.direct-chat-text:before {
    border-left-color: #dd4b39;
}
.quick-contact1 {
	position: fixed;
	right: 300px;
	bottom: 0px;
	z-index: 999;
	max-width: 300px;
}
.quick-contact1 {display:none;}
.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    padding-bottom:15px;
}
.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-img {
	border-radius: 50%;
	float: left;
	width: 40px;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 14px;
	margin-right: 1px;
}
.direct-chat-img1 {
	border-radius: 50%;
	float: left;
	width: 40px;
	height: 40px;
	margin-top: -11px;
	margin-bottom: 14px;
	margin-right: 28px;
}
.grey.recommend-txt {
    font-size: 16px;
    font-weight: 600;
}
.direct-recommend {
	border-radius: 50%;
	float: left;
	width: 40px;
	height: 40px;
	margin-top: -7px;
	margin-bottom: 14px;
	margin-right: 4px;
}
.direct-chat-img1 {
	border-radius: 50%;
	float: left;
	width: 40px;
	height: 40px;
}
.direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}
.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}
.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}
.with-no-border{border-top:0px solid #fff;box-shadow:0px 0px 0px #fff !important;}
.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
}
.direct-chat-msg, .direct-chat-text {
    display: block;
}
.right .direct-chat-img {
    float: right;
}
.direct-chat-danger .right>.direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #fff;
}
.follow-user{cursor:pointer;}
.name-active{display:inline-block;}
.right-secp1 {
	margin-top: -4px;
}
.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}
.btn-quick1 {
	height: 40px;
	padding: 8px 1px 8px 18px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	background: #d9534f !important;
	border-radius: 8px 8px 0 0;
	border: #d9534f;
}
.right .direct-chat-info {
	padding-top: 6px;
}
.btn.btn-box-tool:hover {
	color: #f4f4f4;
	box-shadow:0px 0px 0px #fff !important;
}
.alert-dismissible {
	padding-right: 35px;
	margin: 96px 57px 0px;
	padding-bottom: 3px;
}
.rht-div {
	position: relative;
	top: 7px;
}
.error-message {
	display: inline-block;
	width: 100%;
	margin-left: 80px;
}
.ip-img-mn {margin-top: -5px;border: 1px solid #ccc;}
.user-block-pcust.block-head{margin-top:42px;}
.date-box{float:right;font-size:18px;font-weight:400;}
.user-img-p{
	font-size:20px;font-weight:400;
}
.user-block-pcust .username2{font-size:16px;}
.input-form-cmncust{box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;}


/*-New design 31-10-2017-*/
.menu-cust {
	background-color: rgba(110, 44, 33, 0.5);
	background-blend-mode: overlay;
	background-image: url(https://public-assets.envato-static.com/assets/common/bg-page-section-4b4d6232f7d65b1eda49f92911855825b81774b95534ab3b8eb62e1decb37d71.png);
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.main-menu-cust li {width: 20%;text-align:center;}
.main-menu-cust {
	display: block;
	width: 100%;
}
.dropdown-toggle.toggle-cmn {
	display: inline-block;
	position:relative;
}
.dropdown-menu-cust li{width:100%;}

.dropdown-menu-cust>.arrow:after {
    /*content: " ";*/
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff;
}
/*.drop-menu-cmn li{background:rgba(0,0,0,0.6);}*/
.dropdown-menu-cust>.arrow, .dropdown-menu-cust>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width:10px;
    border-bottom-color: #fff !important;
}
.dropdown-menu-cust>.arrow {
    border-top-width: 0;
    top: -9px;
    right: 8%;
}
.dropdown-menu-cust>.arrow {
    border-bottom-color: #b9bec1;
    right: 8%;
}
.dropdown-menu.dropdown-menu-cust {
	right:0px;
	left:auto;
}



/*.dropdown-menu-cust > .arrow::after {
	content: " ";
	top: 0px;
	margin-left: -28px;
	border-top-width: 0;
	border-bottom-color: #fff;
}*/
.dropdown-menu-cust1>.arrow, .dropdown-menu-cust1>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width:10px;
    border-bottom-color: #fff !important;
}
.dropdown-menu-cust1>.arrow {
    margin-left: -18px;
    border-top-width: 0;
    top: -6px;
}
.dropdown-menu-cust1>.arrow {
    border-bottom-color: #b9bec1;
    right: 8% !important;
}
.dropdown-menu.dropdown-menu-cust1 {
	right: 0px;
}
.dropdown-menu-cust1 li {
    width: 100%;
    text-align:left;
}
.icon-wfix{width:31px;}
.icon-rtfix{width:41px;}
.txt-logoutcust{display:inline-block !important;margin-top:6px;}
.dropdown-menu-cust1 > li > a{padding: 12px 20px;}
.dropdown-menu-cust1{padding-top:20px;}
.fa-head-cust {
	font-size: 20px !important;
}
.label-cust {position: relative;top: -10px;}
.logouttext {position: relative;top: -5px;}
.trecomnduser {position: relative;top: 10px;}
.trecomnduser1 {position: relative;top: -4px;left:40px;}
.right-panel-head {margin: 6px 0px 3px;color: #333;}
.right-panel-head2 {margin: 30px 0px 3px;color: #333;}
.right-panel-head a {
	font-size: 17px !important;
	color: #333;
}
.right-panel-head2 a {
	font-size: 17px !important;
	color: #fff;
}
.description-header{margin:28px 0px 0px 0px;padding-right: 12px;font-weight: 800;}
.btn.btn-default.subscribe_btn {
	margin-top: 45px;
	padding: 0px 5px;
	font-size: 13px;
	border-radius:4px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.textarea_wrap{margin-top:18px;}
/*-start btn style-*/

.action-button
{
	position: relative;
  	margin: 0px 10px 10px 0px;
	border-radius: 4px;
	color: #FFF;
	text-decoration: none;	
	padding:6px 15px;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}


.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
	border-radius: 4px;
	position: relative;
  	margin: 0px 10px 10px 0px;
  	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
	color: #FFF;
}
.action-button:focus
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
	border-radius: 4px;
	position: relative;
  	margin: 0px 10px 10px 0px;
  	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
	color: #FFF;
}
.action-button:hover
{
	color: #FFF;
	background:#cc201b;
}


/*-end btn style-*/



/* General button style (reset) */

.btn-post {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 9px 30px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */


/* Button 2 */
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2a */
.btn-2a {
	border-radius: 0 0 5px 5px;
	margin-top:10px;
}

.btn-2a:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
	color:#fff;
	background: #ce2a2a;
}

.btn-2a:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
	color:#fff;
	background: #ce2a2a;
}
.search-mnstyle{margin-bottom:20px;}
.inpug-cust{width:100%;}
.navb-frm-cust{width:95%;padding:0px;margin-bottom:36px;}
.btn-s-cust{border-style:solid;border-width:1px 1px 1px 0px;border-color:#ccc;}
.btn.btn-default.btn-s-cust {padding: 13px 13px;}
.input-group .form-controlcust, .input-group-addon, .input-group-btncust{display:flex !important;}
.btn.btn-default.btn-s-cust:hover{background:#fff !important;border-style:solid;border-width:1px 1px 1px 0px;border-color:#ccc;}
.form-controlcust{height:48px;border-radius: 0px;	 -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6) !important; 
	 box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6) !important;width:88% !important;}
.form-controlcust:focus {
	border-color: #ccc;
	border-style:solid;
	border-width:1px 0px 1px 1px;
	 -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6) !important; 
	 box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6) !important; 
}
.mprofile-box{margin-top:70px;}
.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}
.widget-user .box-footer {
    padding-top: 30px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.description-block>.description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}
.description-block>.description-text {
    text-transform: uppercase;
}
.bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
    background-color: #939393 
     !important;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.widget-user .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color:#fff;
}
.widget-user .widget-user-desc {
    margin-top: 0;
    color:#fff;
    padding-top:6px;
}
.widget-user{padding:0px !important;}
.fx-pimg{width: 85px;
height: 85px;}
.widget-user-username a{color:#fff;}
.description-text {
	margin-top: 2px;
	display: inline-block;
}
.cancel-subscription{margin-bottom:20px;}
.f-text .btn {
	background: transparent;
	border: 0px solid #fff;
}
.mainlogo-text {
	color: #fff !important;
	font-size: 18px;
	font-weight: 600;
}
.mainlogo-text.navbar-brand.navbarb-cust {
	padding: 0px;
	height:auto;
}
.logo-img-style {
	width: 74%;
}
.nopad-right{padding-right:0px !important;}
.displayblock{display:block !important;}
.ficon_cmn {
	font-size: 20px !important;
	padding-top: 4px;
}
.right-space{margin-right:20px;}
/*--vertical slider--*/


/* line 24, ../sass/style.scss */

/* line 27, ../sass/style.scss */
.verticalCarouselHeader:after {
  content: "";
  display: block;
  clear: both;
}
/* line 32, ../sass/style.scss */
.verticalCarouselHeader h3 {
  float: left;
  margin: 0px;
}
/* line 36, ../sass/style.scss */
.vc_goUp, .vc_goDown {
  float: right;
  display: block;
  text-align: center;
  color: #000;
  padding: 5px 0px 3px;
  margin-top:-9px;
}
.fa.fa-fw.fa-angle-up {
	font-size: 26px;
}
.fa.fa-fw.fa-angle-down {
	font-size: 26px;
}
/* line 45, ../sass/style.scss */
.vc_goUp:active, .vc_goDown:active {
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

/* line 52, ../sass/style.scss */

/* line 57, ../sass/style.scss */
.verticalCarouselGroup.vc_list > li h4 {
  margin: 0px 0px 15px;
}
/* line 60, ../sass/style.scss */
.verticalCarouselGroup.vc_list > li p {
  margin: 0px 0px 0px;
}
/* line 14, ../sass/jQuery.verticalCarousel.scss */
.vc_goUp, .vc_goDown {
  display: block;
}
/* line 16, ../sass/jQuery.verticalCarousel.scss */
.vc_goUp.isDisabled, .vc_goDown.isDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  cursor: not-allowed;
}

/* line 21, ../sass/jQuery.verticalCarousel.scss */
.vc_container {
  overflow: hidden;
  -moz-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  -webkit-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
  min-height:140px;
}

/* line 25, ../sass/jQuery.verticalCarousel.scss */
.vc_list {
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    margin: 0;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}


.navbar-default-cust .navbar-nav > li > a {
    color: #fff;
}
.navbar-default-cust .navbar-nav > li > a:hover {
    color: #fff;
	background: #d9534f;
}
.navbar-default-cust .navbar-nav > li > a:active {
    color: #fff;
	background: #d9534f;
}
.navbar-default-cust .navbar-nav > li > a:focus {
    color: #fff;
	background: #d9534f;
}

.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: red; /*for compatibility with older browsers*/
	background-image: linear-gradient(#983936,#ec290b);

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
	border-radius: 3px;
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	margin-top:-6px;
}
.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(152,57,54,0.8), rgba(216,55,30,0.2));
}

.glass:hover{
	background: linear-gradient(#ec290b,#b23430);
	color:#fff;
}
.glass:focus{
	background: linear-gradient(#ec290b,#b23430);
	color:#fff;
}
.btn.glass {
	padding: 8px 22px;
	font-size: 14px;
	font-weight:bold;
}

.vc_list li {position: relative;list-style: none;
    position: relative;
    margin: 3px auto !important;
    padding-left: 2px;
    padding-right: 2px;display:inline-block;}
.online-small{background: linear-gradient(to bottom, rgba(141,198,63, 1), rgba(0,148,68, 1));
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: -6px;
    border: 2px solid #fff;
    left: 0;
    right: 0;
    margin: auto;}

 .box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
.box.with-no-border.direct-chat.direct-chat-danger{border-top:0px solid #fff;}
.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}
.topspace {
	margin-top: 110px;
}
.editcont-style{padding:10px;}
.inputedit-cust{margin-bottom:20px;}
.user-profileimg{width: 88% !important;
display: block;}
.form-control.start_date_y {
	width: 33.3%;
	float:left;
}
.form-control.start_date_m {
	width: 33.3%;
	float:left;
}
.form-control.start_date_d {
	width: 33.3%;
	float:left;
}
.date label {
	display: block;
}
.btn-topspace{margin-top:20px;}
.edit-bg {
	border: 1px solid #d9534f;
	padding: 4px;
	border-radius: 4px;
	background: #d9534f;
	color: #fff;
}

.container-max {
	margin-top: 23px;
}
.label-warning {
    background-color: #b7b5b5;
}
.f-text .btn.btn-danger {
	font-size: 19px;
	font-weight: 800;
}
.box-top-sm{margin-top:85px;}
.inline-block{display:inline;}
.box-header-cust{margin-bottom: 20px;}

.inner-recomm-blk{}
.btn-msg-close{padding:3px 6px !important;}
.btn-msg-close{color:#fff;}
.btn-msg-close:hover{color:#fff;}
.btn-msg-close:focus{color:#fff;}
.btn-msg-close:active{color:#fff;}
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.auto-style{margin:0px auto;}
.top30 {margin-top: 41px;}
.b-rad0{border-radius:0px;}
.bd-txt{font-weight:600;}
.m-r-10{margin-top:10px;}
.m-t-17 {margin-top: 17px;}
.info-box-content {
	padding: 5px 10px;
	margin-left: 34px;
}
.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
	display: block;
	font-weight: bold;
	font-size: 18px;
}
.info-box {
	display: block;
	min-height: 40px;
	background: #fff;
	width: 100%;
	box-shadow: 1px 1px 3px  #b3b3b3;
	border-radius: 2px;
	margin-bottom: 15px;
	border:1px solid #ccc;
}
.bg-red{background-color: #dd4b39 !important;}
.info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	width: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 56px;
	background: rgba(0,0,0,0.2);
	color:#fff;
}
.m-r-pagination #example1_info{margin-top:28px;}
.btn-spaces {margin-top: 17px;margin-left: 10px;}
@media (max-width: 1199px) {
	.navbar-header {
	  float: none;
	}
	.navbar-toggle {
	  display: block;
	}
	.navbar-collapse.collapse {
	  display: none!important;
	}
	.navbar-nav {
	  float: none!important;
	}
	.navbar-nav>li {
	  float: none;
	}
	.navbar-collapse.collapse.in{
	  display:block !important;
	}
	.container{width:98%;}
}


@media (max-width: 991px) {
	.outer-recomm-blk {
		width: 310px;
	}
	img.profile-photo-sm{left: 36%;}
	.navbar-default-cust .navbar-nav > li > a{display:inline-block !important;}
	.menu-cust{padding-bottom:38px;overflow-y: scroll;overflow-x:hidden;}
	.form-control.textarea-cust {width: 98%;float: none;}
	.container-max {padding-right: 15px;}
	.menu-cust{background-color: rgba(110, 44, 33, 0.9);}
}
.mrbtm-10{margin-bottom:15px;}
